#moves-list{
    height:200px;
    overflow-y: scroll;
    width:100%;
    text-align: center;
}

#attributes{
    display:flex;
    margin-left:70px;
}

#left{
    display:flex;
    flex-direction: column;
}

#right{
    display:flex;
    flex-direction: column;
}

#left > *, #right > *{
    margin-top:25px;
}


.mapped-types{
    display:flex;
    flex-direction: row;
}

#name{
    margin-left:auto;
    margin-right:auto;
    font-weight: bold;
    margin-top:15px;
}

#move-list{
    margin-top:25px;
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;

}

#move-list-title{
    margin-bottom:25px;
    text-align: center;
}

.item-result{
    padding-left:75px;
}

.modal-item-label{
    font-weight: bold;
}

#move{
    padding-top:8px;
}
